body {
    background-color: white;
}
.frame {
    position: relative;
    width: 560px;
    height: 288px;
    background-color: darkgrey;
    overflow: hidden;
}
.rettangolo {
    position:absolute;
    bottom: 0px;;
     width: 560px;
    height: 80px;
    background-color: #65c8d0;
    clip-path: inset (5% 20% 15% 10%);
}
.cerchio {
    position: absolute;
    top: 150px;
    left: 300px;
    border-radius: 50%;
    width: 404px;
    height: 404px;
    background-color: #65c8d0;
}
.cerchio1 {
    position: absolute;
    top: 160px;
    left: -85px;
    border-radius: 50%;
    bottom: 0px;
     width: 322px;
    height: 322px;
     background-color: #65c8d0;
}
.rettangolo2 {
    position: absolute;
    bottom: 75px;
    left: 150px;
    width:260px;
    height: 40px;
    background-color: black;
}
.triangolo1 {
    position: absolute;
    top: 100px;
    left: 150px;
     width: 0;
     height: 0;
     border-top: 40px solid transparent;
     border-right: 50px solid transparent;
     border-bottom: 40px solid black;
    transform-origin: 10% top ;
}
.triangolo2 {
    position: absolute;
    top: 130px;
    left: 370px;
     width: 0;
     height: 0;
     border-top: 50px solid transparent;
     border-right: 40px solid black;
     border-bottom: 0px solid black;
    
}
.asse {
    position:relative;
    top: 50px;
    left: 280px;
    width: 5px;
    height: 150px;
    background-color: black;
    
} 
.bandiera {
    position: relative;
    top: -95px;
    left: 280px;
    width: 0;
     height: 0;
     border-top: 0px solid transparent;
     border-right: 100px solid transparent;
     border-bottom: 90px solid black;
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform background;
    
}
.bandiera:hover {
    transform: rotate(360deg);
width: 0;
     height: 0;
     border-top: 0px solid transparent;
     border-right: 100px solid transparent;
     border-bottom: 90px solid #ba9bc9;
}
